.idea/
/trials/
/trials/deprecated/
/Viewer/build/
/Viewer/dist/
/Viewer/main.spec
/Viewer/matrix/confusion_matrix_2.png
/Viewer/matrix/current_matrix_2.csv
/Viewer/matrix/seams_processor_2.db
/Viewer/matrix/seams_processor_3.db
/Viewer/matrix/seams_processor_4.db
/Viewer/matrix/seams_processor_5.db
/Viewer/matrix/seams_processor_6.db
/Viewer/matrix/seams_processor_7.db
/Viewer/matrix/seams_processor_8.db
*.pyc
Viewer/matrix/
Training/runs/train/
/trials/deprecated/
/Viewer/production.spec
/Viewer/build_instruction.txt
ShadowStarter/SeamsShadow/bin/Debug/net6.0-windows10.0.22621.0/SeamsShadow.deps.json
ShadowStarter/SeamsShadow/bin/
ShadowStarter/SeamsShadow/obj/
ShadowStarter/.vs/
_dev_features/cvat_Yolo/annotations (10).xml
_dev_features/cvat_Yolo/annotations (11).xml
_dev_features/cvat_Yolo/annotations (12).xml
_dev_features/cvat_Yolo/annotations (13).xml
_dev_features/cvat_Yolo/annotations (14).xml
_dev_features/cvat_Yolo/annotations (15).xml
_dev_features/cvat_Yolo/annotations (16).xml
_dev_features/cvat_Yolo/annotations (17).xml
_dev_features/cvat_Yolo/annotations (3).xml
_dev_features/cvat_Yolo/annotations (4).xml
_dev_features/cvat_Yolo/annotations (5).xml
_dev_features/cvat_Yolo/annotations (6).xml
_dev_features/cvat_Yolo/annotations (7).xml
_dev_features/cvat_Yolo/annotations (8).xml
_dev_features/cvat_Yolo/annotations (9).xml
